# Lab1: Data Understanding

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
#read in data
county_facts = pd.read_csv("./2012-and-2016-presidential-elections/county_facts.csv")
county_facts_dict = pd.read_csv("./2012-and-2016-presidential-elections/county_facts_dictionary.csv")
results = pd.read_csv("./2012-and-2016-presidential-elections/US_County_Level_Presidential_Results_12-16.csv")
votes = pd.read_csv("./2012-and-2016-presidential-elections/votes.csv")

### Exploratory Data Anlaysis

In [5]:
county_facts.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [8]:
county_facts_dict

   column_name                                        description
0    PST045214                          Population, 2014 estimate
1    PST040210          Population, 2010 (April 1) estimates base
2    PST120214  Population, percent change - April 1, 2010 to ...
3    POP010210                                   Population, 2010
4    AGE135214               Persons under 5 years, percent, 2014
5    AGE295214              Persons under 18 years, percent, 2014
6    AGE775214           Persons 65 years and over, percent, 2014
7    SEX255214                      Female persons, percent, 2014
8    RHI125214                         White alone, percent, 2014
9    RHI225214     Black or African American alone, percent, 2014
10   RHI325214  American Indian and Alaska Native alone, perce...
11   RHI425214                         Asian alone, percent, 2014
12   RHI525214  Native Hawaiian and Other Pacific Islander alo...
13   RHI625214                   Two or More Races, percent, 2014
14   RHI725214                  Hispanic or Latino, percent, 2014
15   RHI825214  White alone, not Hispanic or Latino, percent, ...
16   POP715213  Living in same house 1 year & over, percent, 2...
17   POP645213           Foreign born persons, percent, 2009-2013
18   POP815213  Language other than English spoken at home, pc...
19   EDU635213  High school graduate or higher, percent of per...
20   EDU685213  Bachelor's degree or higher, percent of person...
21   VET605213                                Veterans, 2009-2013
22   LFE305213  Mean travel time to work (minutes), workers ag...
23   HSG010214                                Housing units, 2014
24   HSG445213                      Homeownership rate, 2009-2013
25   HSG096213  Housing units in multi-unit structures, percen...
26   HSG495213  Median value of owner-occupied housing units, ...
27   HSD410213                              Households, 2009-2013
28   HSD310213                   Persons per household, 2009-2013
29   INC910213  Per capita money income in past 12 months (201...
30   INC110213                 Median household income, 2009-2013
31   PVY020213    Persons below poverty level, percent, 2009-2013
32   BZA010213               Private nonfarm establishments, 2013
33   BZA110213                  Private nonfarm employment,  2013
34   BZA115213  Private nonfarm employment, percent change, 20...
35   NES010213                   Nonemployer establishments, 2013
36   SBO001207                        Total number of firms, 2007
37   SBO315207                   Black-owned firms, percent, 2007
38   SBO115207  American Indian- and Alaska Native-owned firms...
39   SBO215207                   Asian-owned firms, percent, 2007
40   SBO515207  Native Hawaiian- and Other Pacific Islander-ow...
41   SBO415207                Hispanic-owned firms, percent, 2007
42   SBO015207                   Women-owned firms, percent, 2007
43   MAN450207             Manufacturers shipments, 2007 ($1,000)
44   WTN220207           Merchant wholesaler sales, 2007 ($1,000)
45   RTN130207                        Retail sales, 2007 ($1,000)
46   RTN131207                      Retail sales per capita, 2007
47   AFN120207  Accommodation and food services sales, 2007 ($...
48   BPS030214                             Building permits, 2014
49   LND110210                    Land area in square miles, 2010
50   POP060210                   Population per square mile, 2010

#### County Facts Statistics

In [8]:
county_facts.describe()

,fips,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,SEX255214,RHI125214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
count,3195.000000,3.195000e+03,3.195000e+03,3195.000000,3.195000e+03,3195.000000,3195.000000,3195.000000,3195.000000,3195.000000,...,3195.000000,3195.000000,3.195000e+03,3.195000e+03,3.195000e+03,3195.000000,3.195000e+03,3.195000e+03,3.195000e+03,3195.000000
mean,30358.079499,2.993963e+05,2.899137e+05,0.508545,2.899019e+05,5.900782,22.545290,17.524632,49.913271,84.953271,...,1.735055,18.108169,4.732329e+06,3.804132e+06,3.677504e+06,10287.325196,5.739886e+05,9.823005e+02,3.316344e+03,261.265227
std,15181.225584,5.768468e+06,5.584181e+06,4.180066,5.583955e+06,1.211925,3.418896,4.433712,2.425066,16.290780,...,6.222794,12.809596,9.623516e+07,7.613666e+07,7.082882e+07,5409.442797,1.112830e+07,1.902455e+04,6.402903e+04,1718.802670
min,0.000000,0.000000e+00,0.000000e+00,-17.000000,8.200000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.000000e+00,0.000000
25%,18172.000000,1.113450e+04,1.129500e+04,-1.900000,1.129500e+04,5.200000,20.500000,14.700000,49.500000,80.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,7.818500e+04,6910.000000,6.240000e+03,6.000000e+00,4.325450e+02,17.150000
50%,29175.000000,2.655300e+04,2.644600e+04,-0.100000,2.642400e+04,5.800000,22.500000,17.200000,50.400000,91.900000,...,0.000000,23.400000,7.103000e+04,4.852600e+04,2.604220e+05,9806.000000,2.606300e+04,3.400000e+01,6.232800e+02,45.700000
75%,45076.000000,7.247600e+04,7.150450e+04,2.300000,7.144800e+04,6.500000,24.200000,19.800000,51.100000,95.900000,...,0.600000,27.800000,9.766630e+05,2.677625e+05,8.358655e+05,13002.500000,1.037800e+05,1.655000e+02,9.445850e+02,115.800000
max,56045.000000,3.188571e+08,3.087581e+08,72.900000,3.087455e+08,13.700000,42.000000,52.900000,56.800000,99.300000,...,78.000000,56.200000,5.319456e+09,4.174287e+09,3.917663e+09,80800.000000,6.137957e+08,1.046363e+06,3.531905e+06,69467.500000

In [9]:
county_facts['area_name'].nunique()

1929

In [11]:
county_facts['fips'].nunique()

3195

#### Votes

In [7]:
votes.head()

,Unnamed: 0,X,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,Clinton,Trump,diff_2016,per_point_diff_2016,...,AFN120207,BPS030214,LND110210,Density,Clinton_Obama,Trump_Romney,Trump_Prediction,Clinton_Prediction,Trump_Deviation,Clinton_Deviation
0,30,29,1001,5908,18110,24661,0.239569,0.734358,12202,-0.494789,...,88157,131,594.44,91.8,-0.026189,0.008021,0.620859,0.340493,-0.113499,0.100924
1,31,30,1003,18409,72780,94090,0.195653,0.773515,54371,-0.577862,...,436955,1384,1589.78,114.6,-0.020013,-0.000383,0.586749,0.359502,-0.186766,0.163849
2,32,31,1005,4848,5431,10390,0.466603,0.522714,583,-0.056112,...,0,8,884.88,31.0,-0.045920,0.039339,0.517832,0.474693,-0.004882,0.008090
3,33,32,1007,1874,6733,8748,0.214220,0.769662,4859,-0.555441,...,10757,19,622.58,36.8,-0.047965,0.038998,0.692227,0.286031,-0.077434,0.071811
4,34,33,1009,2150,22808,25384,0.084699,0.898519,20658,-0.813820,...,20941,3,644.78,88.9,-0.038779,0.033590,0.789649,0.177490,-0.108870,0.092791

In [7]:
votes.columns

Index(['Unnamed: 0', 'X', 'combined_fips', 'votes_dem_2016', 'votes_gop_2016',
       'total_votes_2016', 'Clinton', 'Trump', 'diff_2016',
       'per_point_diff_2016', 'state_abbr', 'county_name', 'FIPS',
       'total_votes_2012', 'votes_dem_2012', 'votes_gop_2012', 'county_fips',
       'state_fips', 'Obama', 'Romney', 'diff_2012', 'per_point_diff_2012',
       'fips', 'area_name', 'state_abbreviation', 'population2014',
       'population2010', 'population_change', 'POP010210', 'AGE135214',
       'AGE295214', 'age65plus', 'SEX255214', 'White', 'Black', 'RHI325214',
       'RHI425214', 'RHI525214', 'RHI625214', 'Hispanic', 'RHI825214',
       'POP715213', 'POP645213', 'NonEnglish', 'Edu_highschool',
       'Edu_batchelors', 'VET605213', 'LFE305213', 'HSG010214', 'HSG445213',
       'HSG096213', 'HSG495213', 'HSD410213', 'HSD310213', 'Income',
       'INC110213', 'Poverty', 'BZA010213', 'BZA110213', 'BZA115213',
       'NES010213', 'SBO001207', 'SBO315207', 'SBO115207', 'SBO215207',
       'SBO515207', 'SBO415207', 'SBO015207', 'MAN450207', 'WTN220207',
       'RTN130207', 'RTN131207', 'AFN120207', 'BPS030214', 'LND110210',
       'Density', 'Clinton_Obama', 'Trump_Romney', 'Trump_Prediction',
       'Clinton_Prediction', 'Trump_Deviation', 'Clinton_Deviation'],
      dtype='object')

#### Votes Statistics

In [21]:
votes.describe()

,Unnamed: 0,X,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,Clinton,Trump,diff_2016,per_point_diff_2016,...,AFN120207,BPS030214,LND110210,Density,Clinton_Obama,Trump_Romney,Trump_Prediction,Clinton_Prediction,Trump_Deviation,Clinton_Deviation
count,3112.000000,3112.000000,3112.000000,3.112000e+03,3112.000000,3.112000e+03,3112.000000,3112.000000,3.112000e+03,3112.000000,...,3.112000e+03,3112.000000,3112.000000,3112.000000,3112.000000,3112.000000,3112.000000,3112.000000,3.112000e+03,3.112000e+03
mean,1585.500000,1584.500000,30651.700514,2.001874e+04,19600.109576,4.167676e+04,0.317070,0.636152,1.162099e+04,-0.319082,...,1.942344e+05,335.566195,951.557584,261.540424,-0.067872,0.038320,0.636152,0.317070,-1.988644e-16,9.519574e-16
std,898.501345,898.501345,14984.654885,7.190185e+04,40362.196846,1.132173e+05,0.153578,0.156499,4.270328e+04,0.308811,...,8.889694e+05,1303.162468,1303.291942,1732.510014,0.049541,0.055818,0.119622,0.119516,1.009088e-01,9.644692e-02
min,30.000000,29.000000,1001.000000,4.000000e+00,57.000000,6.400000e+01,0.031447,0.041221,2.000000e+00,-0.916364,...,0.000000e+00,0.000000,2.000000,0.100000,-0.234450,-0.369501,-0.226873,0.047050,-3.490927e-01,-4.203195e-01
25%,807.750000,806.750000,19038.500000,1.166000e+03,3206.000000,4.820500e+03,0.204759,0.549478,1.599750e+03,-0.546899,...,6.093250e+03,5.000000,430.122500,17.675000,-0.102089,0.008961,0.574797,0.227744,-6.918939e-02,-6.246817e-02
50%,1585.500000,1584.500000,29208.000000,3.153000e+03,7164.500000,1.094700e+04,0.284739,0.667431,3.746000e+03,-0.382174,...,2.536600e+04,32.000000,611.010000,45.700000,-0.062950,0.038808,0.659328,0.288825,5.526219e-04,2.608661e-05
75%,2363.250000,2362.250000,46005.500000,9.599750e+03,17427.250000,2.879650e+04,0.399610,0.751471,8.510000e+03,-0.149008,...,9.408875e+04,149.000000,914.625000,115.100000,-0.033529,0.073050,0.723051,0.380064,6.616193e-02,6.805273e-02
max,3141.000000,3140.000000,56045.000000,1.893770e+06,620285.000000,2.652072e+06,0.928466,0.952727,1.273485e+06,0.887245,...,2.485784e+07,40060.000000,20056.940000,69467.500000,0.093457,0.233132,0.965341,1.212759,4.214340e-01,3.857468e-01

In [12]:
votes['area_name'].nunique()

1846

In [20]:
votes.isna().sum()

Unnamed: 0            0
X                     0
combined_fips         0
votes_dem_2016        0
votes_gop_2016        0
                     ..
Trump_Romney          0
Trump_Prediction      0
Clinton_Prediction    0
Trump_Deviation       0
Clinton_Deviation     0
Length: 82, dtype: int64

In [47]:
# Find common columns between county_facts and votes
common_cols = np.intersect1d(county_facts.columns, votes.columns).tolist()

print("county_facts and votes have {} columns in common", len(common_cols))
print(common_cols)

county_facts and votes have {} columns in common 41
['AFN120207', 'AGE135214', 'AGE295214', 'BPS030214', 'BZA010213', 'BZA110213', 'BZA115213', 'HSD310213', 'HSD410213', 'HSG010214', 'HSG096213', 'HSG445213', 'HSG495213', 'INC110213', 'LFE305213', 'LND110210', 'MAN450207', 'NES010213', 'POP010210', 'POP645213', 'POP715213', 'RHI325214', 'RHI425214', 'RHI525214', 'RHI625214', 'RHI825214', 'RTN130207', 'RTN131207', 'SBO001207', 'SBO015207', 'SBO115207', 'SBO215207', 'SBO315207', 'SBO415207', 'SBO515207', 'SEX255214', 'VET605213', 'WTN220207', 'area_name', 'fips', 'state_abbreviation']

In [50]:
#remove area_name, fips, and state_abbreviation
common_cols = common_cols[:-3]
common_cols

['AFN120207',
 'AGE135214',
 'AGE295214',
 'BPS030214',
 'BZA010213',
 'BZA110213',
 'BZA115213',
 'HSD310213',
 'HSD410213',
 'HSG010214',
 'HSG096213',
 'HSG445213',
 'HSG495213',
 'INC110213',
 'LFE305213',
 'LND110210',
 'MAN450207',
 'NES010213',
 'POP010210',
 'POP645213',
 'POP715213',
 'RHI325214',
 'RHI425214',
 'RHI525214',
 'RHI625214',
 'RHI825214',
 'RTN130207',
 'RTN131207',
 'SBO001207',
 'SBO015207',
 'SBO115207',
 'SBO215207',
 'SBO315207',
 'SBO415207',
 'SBO515207',
 'SEX255214',
 'VET605213',
 'WTN220207']

In [58]:
votes_dict = county_facts_dict.loc[county_facts_dict.column_name.isin(common_cols)]
votes_dict

   column_name                                        description
3    POP010210                                   Population, 2010
4    AGE135214               Persons under 5 years, percent, 2014
5    AGE295214              Persons under 18 years, percent, 2014
7    SEX255214                      Female persons, percent, 2014
10   RHI325214  American Indian and Alaska Native alone, perce...
11   RHI425214                         Asian alone, percent, 2014
12   RHI525214  Native Hawaiian and Other Pacific Islander alo...
13   RHI625214                   Two or More Races, percent, 2014
15   RHI825214  White alone, not Hispanic or Latino, percent, ...
16   POP715213  Living in same house 1 year & over, percent, 2...
17   POP645213           Foreign born persons, percent, 2009-2013
21   VET605213                                Veterans, 2009-2013
22   LFE305213  Mean travel time to work (minutes), workers ag...
23   HSG010214                                Housing units, 2014
24   HSG445213                      Homeownership rate, 2009-2013
25   HSG096213  Housing units in multi-unit structures, percen...
26   HSG495213  Median value of owner-occupied housing units, ...
27   HSD410213                              Households, 2009-2013
28   HSD310213                   Persons per household, 2009-2013
30   INC110213                 Median household income, 2009-2013
32   BZA010213               Private nonfarm establishments, 2013
33   BZA110213                  Private nonfarm employment,  2013
34   BZA115213  Private nonfarm employment, percent change, 20...
35   NES010213                   Nonemployer establishments, 2013
36   SBO001207                        Total number of firms, 2007
37   SBO315207                   Black-owned firms, percent, 2007
38   SBO115207  American Indian- and Alaska Native-owned firms...
39   SBO215207                   Asian-owned firms, percent, 2007
40   SBO515207  Native Hawaiian- and Other Pacific Islander-ow...
41   SBO415207                Hispanic-owned firms, percent, 2007
42   SBO015207                   Women-owned firms, percent, 2007
43   MAN450207             Manufacturers shipments, 2007 ($1,000)
44   WTN220207           Merchant wholesaler sales, 2007 ($1,000)
45   RTN130207                        Retail sales, 2007 ($1,000)
46   RTN131207                      Retail sales per capita, 2007
47   AFN120207  Accommodation and food services sales, 2007 ($...
48   BPS030214                             Building permits, 2014
49   LND110210                    Land area in square miles, 2010

In [59]:
votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3112 entries, 0 to 3111
Data columns (total 82 columns):
Unnamed: 0             3112 non-null int64
X                      3112 non-null int64
combined_fips          3112 non-null int64
votes_dem_2016         3112 non-null int64
votes_gop_2016         3112 non-null int64
total_votes_2016       3112 non-null int64
Clinton                3112 non-null float64
Trump                  3112 non-null float64
diff_2016              3112 non-null int64
per_point_diff_2016    3112 non-null float64
state_abbr             3112 non-null object
county_name            3112 non-null object
FIPS                   3112 non-null int64
total_votes_2012       3112 non-null int64
votes_dem_2012         3112 non-null int64
votes_gop_2012         3112 non-null int64
county_fips            3112 non-null int64
state_fips             3112 non-null int64
Obama                  3112 non-null float64
Romney                 3112 non-null float64
diff_2012              3112 non-null int64
per_point_diff_2012    3112 non-null float64
fips                   3112 non-null int64
area_name              3112 non-null object
state_abbreviation     3112 non-null object
population2014         3112 non-null int64
population2010         3112 non-null int64
population_change      3112 non-null float64
POP010210              3112 non-null int64
AGE135214              3112 non-null float64
AGE295214              3112 non-null float64
age65plus              3112 non-null float64
SEX255214              3112 non-null float64
White                  3112 non-null float64
Black                  3112 non-null float64
RHI325214              3112 non-null float64
RHI425214              3112 non-null float64
RHI525214              3112 non-null float64
RHI625214              3112 non-null float64
Hispanic               3112 non-null float64
RHI825214              3112 non-null float64
POP715213              3112 non-null float64
POP645213              3112 non-null float64
NonEnglish             3112 non-null float64
Edu_highschool         3112 non-null float64
Edu_batchelors         3112 non-null float64
VET605213              3112 non-null int64
LFE305213              3112 non-null float64
HSG010214              3112 non-null int64
HSG445213              3112 non-null float64
HSG096213              3112 non-null float64
HSG495213              3112 non-null int64
HSD410213              3112 non-null int64
HSD310213              3112 non-null float64
Income                 3112 non-null int64
INC110213              3112 non-null int64
Poverty                3112 non-null float64
BZA010213              3112 non-null int64
BZA110213              3112 non-null int64
BZA115213              3112 non-null float64
NES010213              3112 non-null int64
SBO001207              3112 non-null int64
SBO315207              3112 non-null float64
SBO115207              3112 non-null float64
SBO215207              3112 non-null float64
SBO515207              3112 non-null float64
SBO415207              3112 non-null float64
SBO015207              3112 non-null float64
MAN450207              3112 non-null int64
WTN220207              3112 non-null int64
RTN130207              3112 non-null int64
RTN131207              3112 non-null int64
AFN120207              3112 non-null int64
BPS030214              3112 non-null int64
LND110210              3112 non-null float64
Density                3112 non-null float64
Clinton_Obama          3112 non-null float64
Trump_Romney           3112 non-null float64
Trump_Prediction       3112 non-null float64
Clinton_Prediction     3112 non-null float64
Trump_Deviation        3112 non-null float64
Clinton_Deviation      3112 non-null float64
dtypes: float64(44), int64(34), object(4)
memory usage: 1.9+ MB